.selleradiseHeader {
  $prefix: &;

  &__logo {
    &-placeholder {
      @extend .flex-start;
      color: color(text);

      p {
        margin: 0;
      }

      &__icon {
        @include font("primary_boldest");
        @include font-size(h5);
        @extend .flex-center;
        width: 3rem;
        height: 3rem;
        border-radius: 3rem;
        background-color: color(main);
        color: color(main-text);
        margin-right: 0.75rem;
      }

      &__name {
        @include font("heading");
        @include font-size(h4);
        margin: 0;
        line-height: 1;

        @include device(mobile) {
          display: none;
        }
      }

      &__tagline {
        @include font-size(xx-small);
        line-height: 1;

        @include device(mobile) {
          display: none;
        }
      }
    }
  }

  .admin-bar & {
    top: 32px;

    @include device(mobile) {
      top: 46px;
    }
  }
}

.selleradiseHeader__searchForm {
  border: 0.1rem solid rgba(color(text-rgb), 0.1);
  border-radius: 5em;

  &--overlay {
    position: fixed;
    left: 50%;
    top: 7.5rem;
    margin-left: -25%;
    width: 50%;
    background: color(background);
    z-index: 1001;

    @include device(mobileAndTablet) {
      width: 90%;
      margin-left: -45%;
    }
  }

  label {
    position: relative;
    flex: 1;
    color: color(text);
    border-bottom-left-radius: 5em;
    border-top-left-radius: 5em;

    input {
      height: 100%;
      width: 100%;
      background-color: transparent;
      padding: 0 1.25rem 0 2.5rem;
      color: inherit;
      border: none;
      outline: none;
      box-shadow: none;

      &::placeholder {
        font-size: 1rem;
        font-weight: font("primary_bolder", "font-weight");
        color: rgba(color(text-rgb), 0.8);
        opacity: 1;
      }

      &:focus {
        box-shadow: none;
      }

      [data-focus-source="key"] &:focus {
        box-sizing: inset 0 0 0 0.1em color(dark);
      }
    }

    button.clear {
      @extend .flex-center;
      position: absolute;
      width: 3rem;
      height: 3rem;
      background-color: transparent;
      color: color(text);
      right: 0;
      top: 0;
      border: 0.1rem solid transparent;
      outline: none;

      svg {
        width: 1.25rem;
        height: 1.25rem;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }

      [data-focus-source="key"] &:focus {
        border-color: color(dark);
      }
    }
  }

  button[type="submit"] {
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    color: rgba(color(text-rgb), 0.8);
    border: none;
    outline: none;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: var(--border-radius-x2);
    border-top-right-radius: var(--border-radius-x2);
    cursor: pointer;

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }

    [data-focus-source="key"] &:focus {
      background-color: color(main);
      color: color(light);
    }
  }

  &-category {
    @extend .flex-center;
    position: relative;
    background-color: transparent;
    transition: all $time easing(out-expo);

    &-button {
      @include font-size(small);
      @extend .flex-center;
      @extend .selleradise_chip--base;
      display: inline-flex;
      border: none;
      padding: 0.7em 1em 0.7em 1.7em;

      svg {
        width: 1.5em;
        height: 1.5em;
        margin-left: 0.5em;
      }
    }

    &-options {
      @extend .selleradise_dropdown__options;
      right: 0;
      left: auto;

      &-enter-active,
      &-leave-active {
        transform-origin: top right;
        transition: transform 200ms easing(out-back);
      }

      &-enter-from,
      &-leave-to {
        opacity: 0;
        transform: translate(0, -1rem) scale(0.9);
      }
    }
  }
}

.selleradiseHeader__searchResults {
  @extend .selleradise-hide-scrollbar;
  width: 100%;
  max-height: 40rem;
  background-color: color(background);
  color: color(text);
  border: 0.1rem solid rgba(color(text-rgb), 0.1);
  position: absolute;
  left: 0;
  top: 100%;
  overflow-y: scroll;
  z-index: 1200;
  padding: 1rem 2rem;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &-title {
    width: 100%;
    text-transform: capitalize;

    p,
    h2 {
      @include font-size(h5);
      margin: 0;
    }

    svg {
      width: 2rem;
      height: auto;
      opacity: 0;
      transition: $transition-default;
    }
  }

  &-suggestions--categories {
    @extend .flex-start;
    padding: 0 0 1rem 0;

    > li {
      margin: 0.5rem 1rem 0.5rem 0;
      transition: all 400ms easing(out-expo);

      a {
        @extend .selleradise_chip--base;
        padding: 0.5rem 1rem;

        em {
          color: color(main);
          font-style: normal;
        }
      }

      button {
        cursor: pointer;
        height: auto;
        width: auto;
        background-color: transparent;
        border: none;
        color: var(--text-color);
        outline: none;
        margin: 0 0.25rem;

        svg {
          width: 1rem;
          height: auto;
        }
      }
    }
  }

  &-suggestions--products {
    @extend .flex-start;
    position: relative;

    > li {
      width: 100%;
      margin: 0.75rem 1rem 0.75rem 0;
    }

    > li a {
      @extend .flex-start;
      flex-wrap: nowrap;
      font-size: 1rem;
      transition: all 400ms easing(out-expo);
      color: color(text);

      .image {
        @extend .background-image;
        width: 4rem;
        height: 4rem;
        border-radius: var(--border-radius-half);
      }

      .content {
        padding: 0 1rem;
        flex: 1;
        align-self: stretch;

        .title {
          @include font-size(small);
          font-family: var(--font-primary);
          display: block;
          width: 100%;
          margin: 0;
          color: color(text);
          font-weight: font("primary_boldest", "font-weight");

          em {
            color: color(main);
            font-style: normal;
          }

          &:hover,
          &:focus {
            color: color(main);
          }
        }

        .price {
          @include font-size(small);
        }
      }
    }
  }
}

.selleradiseHeader {
  &__trigger {
    background-color: transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5em;
    color: rgba(color(text-rgb), 0.7);
    border: none;
    position: relative;
    padding: 1rem;
    transition: all 300ms easing(out-expo);

    svg,
    img {
      width: 1.5rem;
      height: 1.5rem;
    }

    &--mobileMenu {
      @extend .flex-center;
      @include font-size(p);
      font-weight: font("primary_boldest", "font-weight");
      padding: 0.75rem 1rem;
      position: relative;
      margin-left: 2.5rem;
      $prefix: &;

      svg {
        width: 1.2em;
        height: 1.2em;
        margin-right: 0.5rem;
      }

      &::before {
        content: "|";
        position: absolute;
        left: -1rem;
        top: 50%;
        transform: translate(0, -50%);
        color: rgba(color(text-rgb), 0.25);
      }

      @include device(mobile) {
        margin-left: 0;
        padding: 1rem;

        #{$prefix}-text {
          display: none;
        }

        svg {
          width: 1.5rem;
          height: 1.5rem;
          margin-right: 0;
        }

        &::before {
          content: none;
        }
      }

      &[data-selleradise-header-type="minimal"] {
        margin-left: 0;
        padding: 1rem;

        #{$prefix}-text {
          display: none;
        }

        svg {
          width: 1.5rem;
          height: 1.5rem;
          margin-right: 0;
        }

        &::before {
          content: none;
        }
      }

      &[data-selleradise-header-type="robust"] {
        #{$prefix}-text {
          display: flex;
        }

        svg {
          width: 1.2em;
          height: 1.2em;
          margin-right: 0.5rem;
        }
      }
    }

    &--miniCart {
      @extend .flex-center;
      flex-wrap: nowrap;
      @include font-size(p);
      font-weight: font("primary_boldest", "font-weight");
      border-radius: 2rem;
      box-shadow: 0 0 0 0.1em rgba(color(text-rgb), 0.1);
      width: auto;
      padding: 0.75rem 1.5rem 0.75rem 1rem;

      svg {
        margin-right: 0.5rem;
      }

      &:hover {
        box-shadow: none;
      }
    }

    &--categories {
      &-label {
        @include font-size(p);
        font-weight: font("primary_boldest", "font-weight");

        [data-selleradise-position="left"] & {
          margin-right: 0.5rem;
        }

        [data-selleradise-position="right"] & {
          margin-left: 0.5rem;
        }
      }
    }
  }
}
